<section class="event">
	<div class="container">
		<h1>{{event.title}}</h1>
		<div class="event__box">
			<div class="event-img">
				<img src="/images/{{event.img}}" alt="{{event.title}}">
				<p>{{event.description}}</p>
			</div>
{{!--			<div class="event-description">--}}
{{!--				<p>{{event.description}}</p>--}}
{{!--			</div>--}}
			<div class="event-price">
				<p class="price big">Цена: {{event.price}} руб.</p>
			</div>
		</div>
	</div>
</section>

{{!--<section class="event-page">--}}
{{!--	<div class="container">--}}
{{!--		<div class="col s12">--}}
{{!--			<h1>{{event.title}}</h1>--}}
{{!--			<div class="card">--}}
{{!--				<div class="card-image">--}}
{{!--					<img src="/images/{{event.img}}" alt="{{event.title}}">--}}
{{!--					<span class="card-title">{{event.title}}</span>--}}
{{!--				</div>--}}
{{!--				<div class="card-content">--}}
{{!--					<p>{{event.description}}</p>--}}
{{!--				</div>--}}
{{!--				<div class="card-content">--}}
{{!--					<p class="price big">Цена: {{event.price}} руб.</p>--}}
{{!--				</div>--}}
{{!--			</div>--}}
{{!--		</div>--}}
{{!--	</div>--}}
{{!--</section>--}}




